* {
  box-sizing: border-box;
}

.cakebook-container {
  display: flex;
  flex-direction: column;
  height: 100%
}


.cakebook-container h1 {
  display: flex;
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  color: #ff88bb;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5em;
}

.cakebook-container .header {
  background-color: #fdd4e5;
  position: fixed;
  width: 100%;
}

.cakebook-container .nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  margin-right: 0.5em;
}

.cakebook-container .signOut{
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.cakebook-container .btn-signOut{
  display: flex;
}

.cakebook-container .containerTimeline {
  display: grid;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 6em;
}

.cakebook-container .myPosts{
  display: flex;
  margin-bottom: 2em;
  background-color: rgb(250, 250, 245);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.4rem;
  padding: 0.5rem 1.25rem;
  flex-direction: column;
  font-size: 1em;
  width: 22em;
}

.header-post{
  display: flex;
}

.img-perfil{
  margin-right: 0.5em;
}

.nav-myPost{
  display: flex;
  list-style: none;
  margin-left: 9em;
  align-items: center;
  justify-content: space-around;
  margin-top: 0%;
  margin-bottom: 0.5em;

}

.postBtn{
  background: none;
  border: none;
}

.cakebook-container .friendsPosts {
  display: flex;
  /* background-color: #f5eff0; */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0.4rem;
  padding: 1.25rem 1.25rem;
  flex-direction: column;
  font-size: 0.9em;
}

.cakebook-container .friendsText {
  align-items: flex-end;
}
.cakebook-container .userPicBtn {
  height: 5em;
  width: 5em;
  border-radius: 6em;
  background: none;
  border: none;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.cakebook-container .imgUser {
  height: 2.5em;
  width: 2.5em;
}

.cakebook-container h2 {
  display: flex;
  color: #ff88bb;
  font-size: 0.9em;
  justify-content: center;
  padding-bottom: 0.5em;
}

.cakebook-container p {
  color: #432e37;
  font-size: 0.9em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

