* {
  box-sizing: border-box;
}

.cakebook-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.cakebook-container h1 {
  display: flex;
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  color: #ff88bb;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5em;
}

.cakebook-container .header {
  background-color: #fdd4e5;
  height: 10%;
}

.cakebook-container .nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
  margin-right: 0.5em;
}

.cakebook-container .signOut{
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.cakebook-container .btn-signOut{
  display: flex;
}

.cakebook-container .containerTimeline {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-right: 2em;
  font-family: 'Montserrat', sans-serif;
}
.cakebook-container .myPosts {
  display: flex;
  background-color: #f5eff0;
  border-radius: 1em;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  flex-direction: column;
  font-size: 0.9em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.cakebook-container .friendsPosts {
  display: flex;
  background-color: #ecf2f4;
  border-radius: 1em;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
  flex-direction: row;
  font-size: 0.9em;
  margin-left: 2em;
  margin-right: 2em;
}
.cakebook-container .friendsText {
  align-items: flex-end;
}
.cakebook-container .userPicBtn {
  height: 5em;
  width: 5em;
  border-radius: 6em;
  background: none;
  border: none;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
.cakebook-container .imgUser {
  height: 5em;
  width: 5em;
}

.cakebook-container h2 {
  color: #ff88bb;
  font-size: 0.9em;
  margin-left: 0.7em;
  margin-right: 0.7em;
}

.cakebook-container p {
  color: #432e37;
  font-size: 0.9em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cakebook-container .menu {
  display: flex;
  margin-right: 4em;
  margin-left: 4em;
}

.cakebook-container .btnMenu {
  justify-content: space-around;
  height: 2.5em;
  width: 2.5em;
  border: none;
  background: none;
}
.btnMenu:hover{
  background: #fdd4e5;
  box-shadow: 0 0 10px #fdd4e5, 0 0 40px #fdd4e5, 0 0 80px #fdd4e5;
  border-radius: 50%;
}

.cakebook-container .imgBtn {
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  border: none;
  background: none;
}

.cakebook-container i {
  font-size: 1em;
}
