* {
  box-sizing: border-box;
}

h1 {
  display: flex;
  font-size: 2.5em;
  font-family: 'Inter', sans-serif;
  color: #ff88bb;
  justify-content: center;
  margin-top: 1.5em;
}

.title {
  background-color: #fdd4e5;
  margin: 0;
  padding: 0em;
}

.containerTimeline {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-right: 2em;
  font-family: 'Montserrat', sans-serif;
}
.myPosts {
  display: flex;
  background-color: #f5eff0;
  border-radius: 1em;
  margin-bottom: 0.7em;
  flex-direction: column;
}
.friendsPosts {
  display: flex;
  background-color: #ecf2f4;
  border-radius: 1em;
  flex-direction: row;
}
.friendsText {
  align-items: flex-end;
}
.userPicBtn {
  height: 5em;
  width: 5em;
  border-radius: 6em;
  background: none;
  border: none;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
.imgUser {
  height: 5em;
  width: 5em;
}

h2 {
  color: #ff88bb;
  font-size: 0.9em;
  margin-left: 0.7em;
  margin-right: 0.7em;
}

p {
  color: #432e37;
  font-size: 0.9em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 17em;
}

.imgBtn {
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
}

i {
  font-size: 2.5em;
}