body{
  background:#1D2532;
}


.main-container-album{
  
  color: white;
  font-size: 0.838rem;
} 



.container-album {
  width: 95%;
  margin: auto;
  
  /* position:relative; */
   
  }

  .title-menu-album{
    margin-top: 5%;
    margin-left: 5%;
  }

.title-option-album {
    margin-top: 5%;
    background-color: #330D65;
    border-radius: 20rem 90rem 0rem 0rem; 
    width: 6.094rem;
    height: 4%;
    padding: 1rem 1rem 1rem  2rem;
    
  }
  
  .container-items-album{
    background: #330D65;
    border-right: 0.2rem solid rgba(224, 35, 148, 0.7);
    border-radius: 0 1rem 1rem 1rem;
    padding: 1rem 0rem 0.25rem  1.5rem;  /* para que apareciera el hover */
    
  }

  .item-album{
    width: 95%;
    padding: 0.25rem 0rem 0.25rem  0.5rem;
    display:flex;
    margin: auto;
  }

  /* .item-album:hover{
    background-color: #330D65;
    width: 96%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62));
    box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
  }  */

  .img-album{
    width: 5.90rem;
    height: 4.90rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.62));
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.625rem;
  }
  .name-Album{
    padding: 1rem 1rem 0rem  2rem;
  }

  .item-album-icons{
   margin: auto;
   display: flex;
 }

  .img-chat-bubble{
  }

  .img-heart{
    padding: 0rem 0rem 0rem  0.6rem;
  }

  .more-options{
    padding: 0rem 0rem 0rem  0.2rem;
  }



