/* *{
    margin: 0;
    background-color: #1D2532;
    color: white;
    font-size: 0.938rem;
} */



.container-album {
  width: 80%;
  margin: 0 auto;
  /* position:relative; */
   
  }

  #title-menu-album{
    margin-top: 5%;
    margin-left: 10%;
  }

#title-option-album {
    margin-top: 5%;
    background-color: #330D65;
    border-radius: 20rem 90rem 0rem 0rem; 
    width: 30%;
    text-align: center;
    padding: 1rem 1rem 1rem  0rem;
    margin: 1rem 1rem 0rem  0rem;
  }
  /*  <div id="title-option-artists">Artistas</div>
  <div id="title-option-songs">Álbumes</div> */

  #title-option-artists {
    margin-top: 5%;
    background-color: #261245;
    border-radius: 20rem 90rem 0rem 0rem; 
    width: 30%;
    text-align: center;
    padding: 1rem 1rem 1rem  0rem;
    margin: 1rem 1rem 0rem  10rem;
  } 

  #container-items{
    background-color: #330D65;
    border-radius: 0rem 1rem 1rem 1rem;
    width: 100%;
    border-right: 2px solid rgba(224, 35, 148, 0.7);
     
    padding: 1.25rem;
    
  }

#item-album {
  /* display: flex;
  flex-direction: row;*/
  justify-content: space-between; 
   width: 100%;
   background-color: #330D65;

  }

  #img-album{
    width: 5.75rem;
    height: 5rem;
    /* max-width: ;
    max-height:; */
    background:  rgba(0, 0, 0, 0.62);
    border-radius: 1rem;
    
    margin: 1rem 1rem 0rem  0rem;
  }
  
  #item-album-description{
    background-color: #330D65;
    margin: 1rem 1rem 0rem  0rem;
  }

  #nameAlbum{
    margin: 1rem 1rem 0rem  0rem;
    background-color: #330D65;

  }

    #img-chat-bubble{
      
      background-color: #330D65;
    }

    #img-heart{ 
      background-color: #330D65;
    }
  
    #moreOptions{
      background-color: #330D65;
      margin: 0;
    }

