.review-container {
    background-color: #1D2532;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-title {
    background-image: url(img/vaporwave.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    color: #330D65;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

.button-back-review {
    background: linear-gradient(90.49deg, #E02394 2.07%, #330D65 99.59%);
    width: 60px;
    height: 60px;
    left: 149px;
    top: 187px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    padding: 1%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-back-review:hover {
    background: #330D65;
}

.review-section {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.review-box-container {
    background-color: #330D65;
    width: 80%;
    height: 230px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 8%;
}

.user-container {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.profile-icon {
    width: 44px;
    height: 44px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-right: 5%;
}

.input-review {
    color: #FFFFFF;
    width: 87%;
    height: 50%;
    background: rgba(25, 6, 51, 0.5);
    border-radius: 10px;
    margin-bottom: 5%;
}

.post-review-button {
    width: 30%;
    background-color: #E02394;
    color: #FFFFFF;
    border-style: none;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 5%;
}