{
    margin: 0;
    padding: 0;
}

 /* body{
 } */

 header{

    border: 5px solid #340b4b;
    padding: .5em;
    border-radius: 25px;
    background-color: rgb(158, 152, 190);
    width: 670px;
    height: 50px;
    margin-left: 0px;
    margin-top: auto;
   } 

   #logo{
    border: 6px ridge rgb(82, 21, 128);   
    -webkit-border-radius: 100%;
    margin-top: 10px;
    margin-left: 200px;
    /* margin-right: 90px */
   }
 .cajaPrincipal{
  background-color: aliceblue;
  left: 400px;
  width: 700px;
  margin:auto;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  line-height: 20px;
  font-size: 16px;
 } 

 .formulario{

    width: 400px;
    height:350px;
    line-height: 10px;
    font-size: 20px;
    padding: 300px 0px 0px 150px;
    text-align: center;
   }
  
#boton {
 background-color: rgb(250, 246, 251);
 text-align: center; 
 border: 5px ridge rgb(82, 21, 128);   
 margin-top: 20px;
 margin-left: 280px;
 font:bold 30px Candara;
} 

h1,h2{
    
  height:20px;
  text-align: center;
  font:bold 30px Candara; 
  align-items: center; 
  display: flex;
  justify-content: center;

  }
  .cajaMuro{
    background-color: aliceblue;
    left: 400px;
    width: 700px;
    margin:auto;
    border-radius: 4px;
    /* margin-top: 10px; */
    padding: 10px px 10px 0px;
    /* line-height: 20px; */ */
    /* font-size: 16px; */ */
   } 
   #comentario{
      left: 400px;
      width: 80%;
      padding: 12px 20px;
      border: 1px solid #0d0c0c;
      box-sizing: border-box;
      font-size: var(--font-sm);
      margin-top: 100px;
      margin-left: 50px;
      margin-right: 50px
   } 
   #botonA{
     
      padding: 20px 20px 12px 20px;
      border: 1px solid hsl(0, 66%, 43%);
      cursor:pointer;
    }
    #botonE{
     
      padding: 20px 20px 12px 20px;
      border: 1px solid hsl(0, 66%, 43%);
      cursor:pointer;
    }
    #botonC{
   
      padding: 20px 20px 12px 20px;
      border: 1px solid hsl(0, 66%, 43%);
      cursor:pointer;

   }
